*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  font-family: 'Mulish', sans-serif;
}

header{
  background-color: #882485;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img{
  width: 200px;
  margin-left: 30px;
}

main {
  background: linear-gradient(#882485, #3C4594);
  min-height: calc(100vh - 200px);
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(min(100%, 22rem), 1fr));
  align-content: center;
  color: white;
  align-items: center;
  padding: 0 40px;

}
main .form-container{
  border: 2px solid white;
  border-radius: 50px;
  min-height: 400px;
  width: 300px;
  padding: 60px 65px 40px;
  color: white;
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 15px;

}
.form-container h2{
  margin-bottom: 20px;
}

.form-container .form div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  margin-bottom: 30px;
  outline: none;
  height: 50px;
  color: white;
}
::placeholder{
  color: white;
}

.form .btn{
  background-color: rgba(255, 255, 255, 0.247);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Mulish', sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
  align-items: center;
}

.btn:hover{
  color: black;
  background-color: white;
}

main .container-table{
  border: 2px solid white;
  border-radius: 50px;
  min-height: 400px;
  width: 300px;
  padding: 60px 65px 40px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 15px;


}

main .container-table table{

  display: flex;
  justify-content: center;
}

.container-table tbody tr th{
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  color:black;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.container-table td{
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}



footer{
  background-color: #384890;
  height: 100px;
}

@media only screen and (max-width: 600px){
  /* main{
    width: 100%;
  } */
  main .form-container{
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
  main .container-table{
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }

}